<!-- Begin Page Content -->
<div class="container-fluid mt-4">
    <div class="card o-hidden border-0 shadow-lg">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create New Task</h1>
                        </div>
                        <form class="user" [formGroup]='taskForm' (ngSubmit)='create()'>
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" formControlName="title">
                            </div>
                            <ng-container *ngIf="taskForm.get('title')?.touched">
                                <div class="alert alert-danger" *ngIf="taskForm.get('title')?.errors?.['required']">Title is required!</div>
                              </ng-container>

                            <div class="form-group">
                                <label>Description</label>
                                <textarea type="text" class="form-control" formControlName="description"></textarea>

                            </div>
                            <ng-container *ngIf="taskForm.get('description')?.touched">
                                <div class="alert alert-danger" *ngIf="taskForm.get('description')?.errors?.['required']">Description is required!</div>
                              </ng-container>
                              
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit"
                                        class="btn btn-success btn-user btn-block my-4">Create</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-outline-danger btn-user btn-block my-4"
                                        routerLink="/tasks">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>